# STATISTICS

In [22]:
import pandas as pd

### Mean

In [23]:
sample_data={'name':['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
            'gender':['M', 'F', 'F', 'M', 'M'],
            'communication_skill_score':[40, 45, 23, 39, 39],
            'quantitative_skill_score':[38, 41, 42, 48, 32]}
data=pd.DataFrame(sample_data, columns=['name', 'gender', 'communication_skill_score', 'quantitative_skill_score'])
#find mean of communication_skill_score
data

     name gender  communication_skill_score  quantitative_skill_score
0    John      M                         40                        38
1    Alia      F                         45                        41
2  Ananya      F                         23                        42
3   Steve      M                         39                        48
4     Ben      M                         39                        32

In [24]:
data['communication_skill_score'].mean(axis=0)

37.2

### Mode

In [25]:
data['communication_skill_score'].mode()

0    39
dtype: int64

### Median

In [26]:
data['communication_skill_score'].median()

39.0

## Measuring dispersion

### Range

In [27]:
column_range=data['communication_skill_score'].max()-data['communication_skill_score'].min()
column_range

22

### IQR

In [28]:
#IQR=q3-q1
q1=data['communication_skill_score'].quantile(.25)
q3=data['communication_skill_score'].quantile(.75)
iqr=q3-q1
iqr

1.0

### Variance

In [29]:
data['communication_skill_score'].var()

69.2

### Standard Deviation

In [30]:
data['communication_skill_score'].std()

8.318653737234168

In [31]:
data.describe()

       communication_skill_score  quantitative_skill_score
count                   5.000000                  5.000000
mean                   37.200000                 40.200000
std                     8.318654                  5.848077
min                    23.000000                 32.000000
25%                    39.000000                 38.000000
50%                    39.000000                 41.000000
75%                    40.000000                 42.000000
max                    45.000000                 48.000000

## Skewness and Kurtosis

In [32]:
#positive skewness occurs when the mean is greater than the median and the mode
#On the contrary it's a negative skewness
data['communication_skill_score'].skew()

-1.704679180800373

In [33]:
#Kutosis measures the tailedness (thickness of tail) compared to a normal distribution
#High Kurtosis is heavy-tailed which means more outliers are present in the obs
#A normal distribution having zero kurtosis is known as a mesokurtic distribution
#A playkurtic distribution has a negative kurtosis value and is thin-tailed compared to a normal distribution
#A leptokurtic distribution has a kurtosis value greater than 3 and is fat-tailed compared to a normal one
data['communication_skill_score'].kurtosis()

3.6010641852384015

## Covariance and Correlation

In [36]:
#Covariance measures the relationship between a pair of variables. -oo cov +oo
#Covariance does not provide effective conclusions because it is not normalized
data.cov()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                      69.20                     -6.55
quantitative_skill_score                       -6.55                     34.20

In [38]:
# -1 corr 1
#Correlation is a normalized version of covariance
#A negative value represents the increase in one variable causing a decrease in other variables
data.corr()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                    1.00000                  -0.13464
quantitative_skill_score                    -0.13464                   1.00000